* {
    font-family: 'Noto Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("images/bg-pic-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgb(61, 57, 68);
    color: #DBE8D4;
    /* position: relative; */

}

#logo-brand {
    height: 8vh;
}

.nav-item {
    padding-right: 10px;
}

.nav-link.active, #btnResume {
    background-color: rgb(88, 9, 88) !important;
    font-weight: 600;
    color: white;
}

#lblName {
    letter-spacing: 20px;
}

#landing-page {
    height: 100vh;
    padding-top: 200px;
}

main h3 {
    letter-spacing: 20px;
    padding-bottom: 2rem;
    border-bottom: 4px solid #DBE8D4;
}


